flask==1.1.2
jinja2==2.11.2
numpy==1.18.5
opencv-python==4.2.0.32
pandas==1.1.0
pillow==7.2.0
torch==1.5.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.6.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
matplotlib>=1.4.3
gunicorn==19.9.0