.form-upload {
  width: 100%; 
  max-width: 330px;
  padding: 15px;
  margin-right: 500px;
}

.form-upload .checkbox {
  font-weight: 400;
}
.form-upload .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin: auto;
  padding: 10px;
  font-size: 16px;
}

.form-button {
  margin-top: 10px;
}

.form-upload .form-control:focus {
  z-index: 2;
}